<link rel="icon" type="image/x-icon" href="images/fav.png">
<title>Admin Login</title>

<link rel="stylesheet" href="/css/adminlogin.css">
</head>

<body>
    <div class="l-form">
        <form action="/adminlogin" class="form" method="POST">
            <h1 class="form__title" style="font-weight: bolder;">Welcome Back</h1>
            <h1 class="form__title" style="font-weight: bold;">Sign In</h1>

            <div class="form__div">
                <input type="email" name="email" class="form__input" placeholder=" ">
                <label for="" class="form__label">Email</label>
            </div>

            <div class="form__div">
                <input type="password" name="password" class="form__input" placeholder=" ">
                <label for="" class="form__label">Password</label>
            </div>

            <input type="submit" class="form__button" value="Sign In" style="color:white">
        </form>
    </div>
</body>

</html>