<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crop and Download Image</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <!-- Cropper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/crop.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="image-container">
          <img id="image" />
        </div>
        <div class="preview-container">
          <img id="preview-image" />
        </div>
      </div>
      <input type="file" id="file" accept="image/*"  multiple/>
      <label for="file">Choose A Photo</label>
      <div class="options hide">
        <input
          type="number"
          id="height-input"
          placeholder="Enter Height"
          max="780"
        />
        <input
          type="number"
          id="width-input"
          placeholder="Enter Width"
          max="780"
        />
        <button class="aspect-ratio-button">16:9</button>
        <button class="aspect-ratio-button">4:3</button>
        <button class="aspect-ratio-button">1:1</button>
        <button class="aspect-ratio-button">2:3</button>
        <button class="aspect-ratio-button">Free</button>
      </div>
      <div class="btns">
        <button id="preview" class="hide">Preview</button>
        <a href="" id="download" class="hide">Download</a>
      </div>
    </div>
    <!-- Script -->
    <script src="js/crop.js"></script>
  </body>
</html>
